{% comment -%}Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.{% endcomment -%}
<footer>
  <div class="grad-bottom"></div>
  <div class="footer">
    <div class="container">
      <span class="pull-right">
        <a href="#top">Back to top</a>
      </span>
    {%- if _appFooter -%}
    {{_appFooter}}
    {%- else -%}
    {%- endif -%}
    </div>
  </div>
</footer>

<footer class="parallax-footer" data-parallax="scroll" data-image-src="images/bg-footer.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 footer-note">
        <h3 class="title">Legal</h3>
        <ul>
          <li><a href="https://www.temenos.com/en/accessibility/">Accessibility</a></li>
          <li><a href="https://www.temenos.com/en/legal-information/cookie-policy/">Cookie Policy</a></li>
          <li><a href="https://www.temenos.com/en/legal-information/privacy-policy/">Privacy Policy</a></li>
          <li><a href="https://www.temenos.com/en/legal-information/terms-and-conditions/">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4 social-icons">
        <h3 class="title">Social Media</h3>
        <ul class="follow-link">
          <li><a target="_blank" href="https://www.facebook.com/TemenosGroup"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/TemenosMKPL"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="http://www.linkedin.com/company/temenos"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="//plus.google.com/u/0/100035548059267323447?prsrc=3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row the-copy">
      <div class="col-md-4">
        <p><a class="navbar-brand" href="/"><img src="images/logo-temenos-bottom.png"></a> </p>
      </div>
      <div class="col-md-8 text-right">
        <p>&copy; 2020 Temenos Headquarters SA. All Rights Reserved.</p>
      </div>
  </div>
</footer>

<div class="back-to-top">
  <a href="#to-top">
    <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i></span>
  </a>
</div>
